# Binaries
*.dll
*.exe

# Vim
*.swp

#Notepad++
nppBackup/

# Misc
*.manifest
_vld_memleaks.log

# Copys of Files
* - Kopie*

# Test ZIPs
*.zip

# TeX temporary and output files
*.aux
*.log
*.out
*.toc
*.pdf
*.synctex.gz

*.exe
*.bak
~*
*.tmp
tileset-src/map.txt